
.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.5;
    font-style: italic;
}
.title {
    background-color: black;
    font-size: 40px;
    font-weight: bold;
    color: burlywood;
    text-align: center;
    font-style: italic;  
}

a {
    color:azure;
    text-decoration: none;
    border: 3px solid burlywood;
    background-color: black;
}

a:visited {
    color: yellow;
}

ul li {
    list-style-type: square;
    color: black;
    padding: 1px;
    margin-left: auto;
    list-style-position: inside;
}